<config>
	<server>
		<bindaddr>0.0.0.0:13570</bindaddr>
	</server>

	<log>../etc/log.xml</log>

	<data>
		<datapath>../data/</datapath>
		<dataname>ccdb.zjm</dataname>
		<datatimes>60</datatimes>
	</data>

	<masterslave>
		<ismaster>false</ismaster>

		<hashsize>10</hashsize>
		<reflushs>60</reflushs>
		<masterip>127.0.0.1</masterip>
		<masterport>13570</masterport>
		<masteruser>chen</masteruser>
		<masterpass>chen</masterpass>
	</masterslave>

	<pagesize>256</pagesize>
	<maxonlyuserconnection>10</maxonlyuserconnection>
	<maxuserconnection>10</maxuserconnection>
</config>
