<config>
	<server>
		<bindaddr>0.0.0.0:13570</bindaddr>
		<path>/ccdb</path>
	</server>

	<log>../etc/log.xml</log>

	<data>
		<datapath>../data/</datapath>
		<dataname>ccdb.zjm</dataname>
		<datatimes>60</datatimes>
	</data>

	<masterslave>
		<ismaster>true</ismaster>
		<hashsize>10</hashsize>
	</masterslave>

	<pagesize>256</pagesize>
	<maxonlyuserconnection>10</maxonlyuserconnection>
	<maxuserconnection>10</maxuserconnection>
</config>
